
@{
    ViewData["Title"] = "ContactUs";
}

<h3>CONTACT US</h3>
<address>
    <p>
        New York, NY 10012, US
    </p>
    <p>
        info@moviestore.com
    </p>
    <p>
        + 01 234 567 88
    </p>
    <p>
        + 01 234 567 89
    </p>
</address>

