
@{
    ViewData["Title"] = "Home";
}

<h3>Hi,</h3>

<p>Welcome to our movie store. Here you can find the biggest collection of movies from every genre. 
    We have a choice from the latest titles to  the finest timeless classics.</p>

